button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	background: $color__background-button;
	color: $color__border-button;
	@include font-size(0.7);
	line-height: 1;
  width: auto;
  padding: 15px 20px;
	&:hover {
		border-color: $color__border-button-hover;
	}
	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
