a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	background: $color__background-button;
	color: $color__border-button;
	@include font-size(0.7);
  width: auto;
  padding: 15px 20px;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
	&:hover {
    background-color: $color__border-button;
    color: $color__background-button;
    text-decoration: none;
	}
	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
