footer#colophon {
  background: #525252;
  text-align: center;
  color: #a4a4a4;
  padding: 60px 0;
  width: 60%;
  margin-left: 40%;
  @include breakpoint(tablet) {
    width: 100%;
    margin-left: 0;
  }
  ul#social {
    list-style: none;
    width: 229px;
    margin: 0 auto;
    li {
      float: left;
      a {
        color: #a4a4a4;
        text-decoration: none;
        text-indent: -8000px;
        position: relative;
        display: block;
        width: 25px;
        height: 25px;
        margin-right: 10px;
        &:hover {text-decoration: none}
      }
      &:last-child a {margin-right: 0}
      a:before {
        font-family: 'icomoon';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        text-indent: 0;
        @include font-size(1.5);
        -webkit-transition: color 200ms ease;
        transition: color 200ms ease;
      }
    }
    li.twitter a {
      &:before {content: "\e905";}
      &:hover {color: #00aced;}
    }
    li.facebook a {
      &:before {content: "\e904";}
      &:hover {color: #4b74cc;}
    }
    li.instagram a {
      &:before {content: "\e903";}
      &:hover {color: #517fa4;}
    }
    li.pinterest a {
      &:before {content: "\e906";}
      &:hover {color: #cb2027;}
    }
  }
  p {
    clear: both;
    margin-top: 3.5em;
    @include font-size(0.7);
  }
}

body.home, body.blog {
  footer#colophon {
    width: 100%;
    margin-left: 0;
  }
}
