header#masthead {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, .75), transparent);
  background-image: -o-linear-gradient(rgba(0, 0, 0, .75), transparent);
  background-image: linear-gradient(rgba(0, 0, 0, .75), transparent);

  position: relative;
  z-index: 1;
  height: 100px;
  padding-top: 30px;
  padding-left: 30px;
  .site-branding {
    width: 200px;
    position: static;
    float: left;
    @include breakpoint(tablet) {
      position: static;
      float: none;
      margin: 0 auto;
    }
  }
  a.show-search {
    float: right;
    margin-right: 1%;
    display: block;
    border: 1px solid #FFF;
    border-color: hsla(0, 0%, 100%, .4);
    width: 180px;
		@include breakpoint(mobile) {
			border: none;
			width: auto;
		}
  }
  a.show-search:after {
    content: "\e902";
    font-family: 'icomoon';
    margin-top: 0px;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    color: #FFF;
    @include font-size(1.3);
    display: block;
    float: right;
    margin-right: 10px;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    @include breakpoint(tablet) {color: #FFF;}
  }
  a.back {
    color: #525252;
    margin-left: 40%;
    @include font-size(0.8);
    &:before {
      text-decoration: none;
      content: "\e900";
      font-family: 'icomoon';
      position: relative;
      font-size: 0.8em;
      top: 1px;
    }
    @include breakpoint(tablet) {
      margin-left: 0;
      position: relative;
      top: 240px;
    }
    @include breakpoint(mobile) {top: 190px}
  }
}

body.single header#masthead {
  background-image: none;
  .site-branding {
    float: none;
    position: fixed;
  }
  a.show-search {border-color: rgba(0, 0, 0, .2);}
  a.show-search:after {color: #a4a4a4;}
}
