h1, h2, h3, h4, h5, h6 {
  font-family: 'Rozha One', sans-serif;
  color: #525252;
  font-weight: 700;
  margin: 20px auto 10px;
}

h1 {
  @include font-size(2.5);
	@include breakpoint(mobile) {@include font-size(2);}
  margin-top: 0.3em;
  line-height: 1.16em;
  text-align: center;
}

h2 {
  @include font-size(1.9)
	@include breakpoint(mobile) {@include font-size(1.52);}
  line-height: 1.21em;
}

h3 {
  @include font-size(1.5)
	@include breakpoint(mobile) {@include font-size(1.2);}
  line-height: 1.27em
}
h4 {
  @include font-size(1.1)
	@include breakpoint(mobile) {@include font-size(1);}
  line-height: 1.36em;
}

h5 {
  @include font-size(0.9)
  line-height: 1.44em;
}

h6 {
  @include font-size(0.7)
  line-height: 1.57em;
}
