h1, h2, h3, h4, h5, h6 {
  font-family: 'Rozha One', sans-serif;
  color: #525252;
  font-weight: 700;
  margin: 1.43em auto 0.71em;
}

h1 {
  @include font-size(2.5)
  line-height: 1.16em;
  text-align: center;
}

h2 {
  @include font-size(1.9)
  line-height: 1.21em;
}

h3 {
  @include font-size(1.5)
  line-height: 1.27em
}
h4 {
  @include font-size(1.1)
  line-height: 1.36em;
}

h5 {
  @include font-size(0.9)
  line-height: 1.44em;
}

h6 {
  @include font-size(0.7)
  line-height: 1.57em;
}
