@import "../variables-site/variables-site";
@import "../mixins/mixins-master";
header#masthead {
  .site-branding {
    position: static;
    float: left;
  }
  a.search {border-color: hsla(0, 0%, 100%, .4);}
  a.search:after {color: #FFF;}
}
.home-features {
  position: relative;
  top: -100px;
  margin-bottom: -50px;
  article {
    position: relative;
    width: 33.333%;
    display: block;
    float: left;
    height: 100vh;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    transition: width 500ms;
    @include breakpoint(tablet) {
      width: 100%;
      height: 350px;
      margin-bottom: 250px;
    }
    .shade {
      background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 1500ms;
      z-index: 0;
      @include breakpoint(tablet) {
        opacity: 1;
        background-image: linear-gradient(180deg, transparent 66%, rgba(0, 0, 0, .65));
      }
    }
    .entry-content, .entry-footer {
      z-index: 1;
      opacity: 0;
      transition: opacity 1000ms;
      position: absolute;
      bottom: 7.5%;
      left: 0;
      padding: 0 7.5%;
      text-align: center;
      width: 100%;
      color: #FFF;
      h2 {color: #FFF;}
      .button {
        display: block;
        background: none;
        color: #FFF;
        width: 200px;
        margin: 0 auto 1em auto;
        border-color: #FFF;
        @include font-size(1);
        &:hover {
          background: #FFF;
          color: $color__text-screen;
        }
      }
      @include breakpoint(tablet) {
        top: 285px;
        left: 0;
        color: $color__text-screen;
        width: 100%;
        padding: 0 0 30px 0;
        opacity: 1;
        background: transparent;
        h2 {
          padding-bottom: 14px;
          @include font-size(1.3);
          margin-bottom: 26px;
        }
        .button {
          color: $color__text-screen;
          border-color: $color__text-screen;
          &:hover {
            color: #FFF;
            background: $color__text-screen;
          }
        }
      }
    }
  }
  article:hover {
    .shade,.entry-content {opacity: 1}

  }
}
.home-content {
  max-width: 940px;
  margin: 0 auto;
  @include font-size(1.4);

  text-align: center;
  @include breakpoint(mobile) {max-width: 95%;}
  * {max-width: none !important}
}
#mc_embed_signup {
  max-width: 940px;
  margin: 2em auto 4em auto;
  &:after {
    @include clearfix;
    @include clearfix-after;
  }
  label {
    display: block;
    text-align: center;
    color: #a4a4a4;
    margin-bottom: 1em;
  }
  input {
    float: left;
  }
  input#mce-EMAIL {
    width: 84%;
    border-right: none;
  }
  input#mc-embedded-subscribe {
    width: 16%;
    @include font-size(1);
    color: $color__text-input;
    border-color: $color__text-input;
    &:hover {
      background: $color__text-input;
      color: #FFF;
    }
  }
  .response, .mce_inline_error {
    clear: left;
    color: $color__text-input;
  }
}
.instagram {
  clear: left;
  margin: 4em 0;
  @include breakpoint(tablet) {margin: 3em 0;}
  @include breakpoint(mobile) {margin: 2em 0;}
  &:after {
    @include clearfix;
    @include clearfix-after;
  }
  h2 {
    margin-bottom: 30px;
    color: $color__link;
    text-align: center;
  }
  ul.instagram-pics {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    width: 16.666%;
    margin-bottom: 0;
    box-shadow: inset 0 0 6px -1px rgba(0, 0, 0, .64);
    transition: opacity 200ms;
    background-color: #000;
    @include breakpoint(tablet) {width:25%}
    @include breakpoint(mobile) {width:50%}
    img {display: block;}
  }
  li:hover img {opacity: 0.8;}
}

.authors {
  margin-top: 3em;
  h2, .content {
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
    @include breakpoint(mobile) {
      max-width: 95%;
    }
  }
  h2 {margin-bottom: 0.5em}
  .author {
    width: 25%;
    float: left;
    text-align: center;
    margin-bottom: 2em;
    @include breakpoint(tablet) {width: 50%;}
    img {
      width: 280px;
      height: 280px;
      border-radius: 50%;
      display: block;
      margin: 0 auto 1em auto;
      transition: opacity 200ms;
      &:hover {opacity: 0.8}
      @include breakpoint(mobile) {
        width: 150px;
        height: 150px;
      }
    }
  }
}
