$color__text-screen: #333;
$color__text-input: #a4a4a4;
$color__text-input-focus: $color__text-input;
$color__link: #5bab66;
$color__link-visited: $color__link;
$color__link-hover: $color__link;
$color__text-main: $color__text-screen;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #a4a4a4;
$color__background-button: #FFF;
$color__background-button-hover: $color__link;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;


$color__border-button: $color__link;
$color__border-button-hover: $color__link;
$color__border-button-focus: $color__link;
$color__border-input: #a4a4a4;
$color__border-abbr: #666;
