.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.tweet-this a {
  padding: 15px;
  border: 1px solid #00aced;
  background-color: transparent;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #00aced;
  @include font-size(0.7);
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: 200px;
  margin-top: 1em;

}

.tweet-this a:hover {
  background-color: #00aced;
  color: #fff;
  text-decoration: none;
}


form.searchandfilter {
  text-align: center;
  div:before {
    content: "FILTER:";
    @include font-size(0.7);
    display: inline;
  }
  select {
    -webkit-appearance: none;
    background: #fff;
    border-radius: 0;
    padding: 10px 30px 10px 20px;
    display: block;
		@include breakpoint(mobile) {width: 100%}
    option {
      text-transform: capitalize;
    }
  }
	ul {@include breakpoint(mobile) {
		display: block;
		margin: 0.5em auto 0 auto;
		padding: 0;
		width: 90%;
	}}
  li {
		position: relative;
		@include breakpoint(mobile) {
			display: block;
			width: 100%;
		}
	}
  li:after {
    font-family: 'icomoon' !important;
    content: "\e907";
    @include font-size(0.7);
    position: absolute;
    top: 17px;
    right: 19px;
    pointer-events: none;
  }
  li:last-child:after {display: none}
  li:last-child input {
    position: relative;
    top: -1px;
		@include breakpoint(mobile) {
			position: static;
			width: 100%;
		}
  }
}

.search-form {
  margin-bottom: 2em;
  &:after{@include clearfix;@include clearfix-after;}
  input, button {
    display: block;
    float: left;
  }
  input.search-field {
    @include font-size(1);
    width: 90%;
		@include breakpoint(tablet) {width: 75%;}
    margin-right: 0;
    border-right: none;
  }
  button {
    display: block;
    width: 10%;
		@include breakpoint(tablet) {width: 25%;}
    @include font-size(1);
    color: $color__text-input;
    border-color: $color__text-input;
    &:hover {
      background: $color__text-input;
      color: #FFF;
    }
  }
}
