.sticky {
	display: block;
}

.holds-article, .holds-comments, .post-nav {
  width: 60%;
  float: right;
  @include breakpoint(tablet) {
    float: none;
    width: 100%;
  }
}

.holds-article {@include breakpoint(tablet) {margin-top: -50px}}
.single .hentry, .on-page .hentry {
  p, ul, ol, h1, h2, h3, h4, h5, h6, footer, .page-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 690px;
    padding: 0 30px;
    @include breakpoint(tablet) {
      max-width: 670px;
      padding: 0 20px;
    }
    @include breakpoint(mobile) {
      max-width: 90%;
			padding: 0;
    }
  }
	ul,ol {
		position: relative;
  	left: 5%;
	}
	.alignright {margin-right:30px}
	.alignleft {margin-left:30px}
	p {
		.alignright {margin-right:0}
		.alignleft {margin-left:0}
	}
  .youtube-embed {
    margin: 1em 5%;
    position: relative;
	  padding-bottom: 56.25%; /* 16:9 */
	  padding-top: 25px;
	  height: 0;
    iframe {
      position: absolute;
	    top: 0;
	    left: 0;
	    width: 100% !important;
	    height: 100% !important;
    }
  }
  .alignnone {
    width: 90%;
    margin: 1em 0 1em 5%;
  }
}
.comments-area {
	margin: 0 auto;
  max-width: 630px;
}


.entry-header {
  text-align: center;
  img.mark {
    width: 75px;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
  }
  .cat-links, .entry-meta {
    @include font-size(0.8);
  }
}

span.social-links {
  display: block;
  margin: 1em 0 1.2em 0;
  max-width: none;
  @include font-size(0.9);
  text-align: center;
  a {
    color: $color__text-screen;
    margin-right: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  a:hover {text-decoration:none}
  a:hover span.icon-twitter {color: #00aced}
  a:hover span.icon-facebook {color: #4b74cc}
  a:hover span.icon-pinterest {color: #cb2027}
}

.entry-footer {
  .tags-links {@include font-size(0.8);}
}
.byline,
.updated:not(.published){
	display: none;
}

.excerpt .byline,
.single .byline,
.group-blog .byline,
.home-features .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {

  .intro {
    margin: 0 auto 3.75em;
    @include font-size(1.2);
    line-height: 1.41em;
    text-align: center;
  }

  blockquote {
    float: right;
    width: 50%;
    margin-top: 2em;
    margin-bottom: 0.5em;
    padding: 0.5em 0.8em;
    border-left: 5px solid #e2e2e2;
    color: #a4a4a4;
    @include font-size(1.1)
    @include breakpoint(mobile) {
      float: none;
      width: 90%;
      margin-top: 0;
    }
		p {
			max-width: 100% !important;
			padding: 0 !important;
		}
  }

}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.post-photo {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 40%;
  height: 100%;
  min-height: 600px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  @include breakpoint(tablet) {
    position: relative;
    width: 100%;
    height: 300px;
    top: -100px;
    min-height: auto;
  }
  @include breakpoint(mobile) {height: 250px}
  .gradient {
    display: block;
    width: 100%;
    height: 100px;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, .75), transparent);
    background-image: -o-linear-gradient(rgba(0, 0, 0, .75), transparent);
    background-image: linear-gradient(rgba(0, 0, 0, .75), transparent);
  }
}
.post-nav {
  div.prev, div.next {
    width: 50%;
    float: left;
    @include breakpoint(mobile) {
      float: none;
      width: 95%;
    }
  }
  div.prev {padding: 0 2% 0 5%}
  div.next {padding: 0 5% 0 2%}
}

.page-header {
  margin-bottom: 2em;
}

body.search {
  main#main {
    max-width: 900px;
    margin: 0 auto;
  }
}
